<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>Account</title>
</head>
<body>
	<div>
		<table border="1">
			<thead>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Role</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dto , ind: ${accountList}">
					<td th:text="${ind.count}" ></td>
					<td th:text="${dto.name}" ></td>
					<td th:text="${dto.role}" ></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
